@import "reset.css";
body {
  margin: 0;//ทำให้ติดขอบ
}

div #booking{
  /* height: 90vh; */
}
div #history{
  background: #61D800;
  height: auto;
}
div #div-status-user{
  width: 130px;
  height: auto;
  background: #263238;
  margin-top: 50px;
  text-align: center;
}
input{
  width: 50px;
  height: 50px;
}

.pc{
    background-color: Transparent;
    background-repeat:no-repeat;
    /* border: none; */
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
button:hover{
  background: #18FFFF;
  color: black;
}
#header{
  height: 10vh;
  background: #263238;
}
a{
  text-decoration: none;
  background: red;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* font-size: 16px; */
}

#bt-account{
  background: #61D800;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 50px;

  border-radius: 25px;
}
#bt-logout{
  background: red;
  position: absolute;
  bottom: 0;
  text-align: center;

  border-radius: 25px;
}
.button-circle{
  height: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
}
.comment{
  height: auto;
  background: #ECEFF1;
  width: 43%;
  padding: 12px 20px;
  /* padding-left: 5px;
  padding-right: 5px; */
  border-radius: 25px;
}
.unusable{
  background: red;
  border: none;
}
#button-book{
  background: #64DD17;
}
