body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url('/image/login-background.jpg'); */
}

html {
  background-image: url('/image/login-background.jpg');


}
 h1{
  /* color: yellow; */
  text-shadow: -1px 0 #FFD600, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
 }
 p{
   text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
 }
 label{
   text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
 }
 select{
   font-size: 16px;
 }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}
table{
  margin: auto;
  margin-top: 50%;
}

button{
  text-align: center;
  border-radius: 25px;
}

#bt-login{
  background: none;
}
#bt-register{
  background: none;
}
#bt-register:hover{
  background: black;
  color: #ffffff;
  border-color: #FFEA00;
}
#bt-login:hover{
  background: black;
  color: #ffffff;
  border-color: #FFEA00;
}

div button.bt-form-login{
  background-color: black;
  border-color: #FFEA00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn{
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  /* padding: 16px; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); */
}

/* Modal Content/Box */
.modal-content {
  background: none;
  /* background-color: #fefefe; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #FFEA00; */
  width: 50%; /* Could be more or less, depending on screen size */

}

#id01{
  /* margin-top: 5%; */
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}
